<app-header title="Robôs"> </app-header>

<ion-content>
  @defer (when data.hasValue()) {
    <div class="ion-m-bottom-80">
      @if (data.value()!.count < 3) {
        <ion-card class="ion-no-shadow" [button]="true" (click)="goToNewBot()">
          <ion-card-header
            class="ion-d-flex ion-flex-row ion-align-items-center ion-justify-content-between"
          >
            <ion-card-title color="primary">Adicionar Novo Robô</ion-card-title>
            <app-icon
              name="chevron-forward"
              size="small"
              color="medium"
            ></app-icon>
          </ion-card-header>
        </ion-card>
      }

      @for (item of data.value()!.data; track item.id) {
        <ion-card
          class="ion-no-shadow"
          [button]="true"
          (click)="toggleStatus(item.name, item.active, item.id)"
        >
          <ion-card-header
            class="ion-d-flex ion-flex-row ion-align-items-center ion-justify-content-between"
          >
            <ion-card-title color="primary">{{ item.name }}</ion-card-title>
            <app-icon
              name="radio-button-on"
              size="small"
              color="success"
            ></app-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="medium">
              <p>Configurado: {{ item.brokerMaxBalanceToUse | currency }}</p>
            </ion-text>
            <ion-text color="medium">
              <p>Ganhos: {{ item.profit | currency }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      }
    </div>
  } @placeholder {
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
  }
</ion-content>
