<app-header title="Resumo"> </app-header>

<ion-content>
  <app-month-select
    [monthSelected]="monthSelected()"
    (monthChange)="updateData($event)"
  ></app-month-select>

  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-p-start-0">
        @defer (when tradeInfo()) {
          <ion-card class="ion-no-shadow ion-m-vertical-0">
            <ion-card-header>
              <ion-card-title color="primary">
                {{
                  tradeInfo().totalAvailableWithdrawalBalance | currency
                }}</ion-card-title
              >
              <ion-card-subtitle color="medium"
                >Saldo Corretora</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
        } @placeholder {
          <app-card-loading type="titleAndSubtitle"></app-card-loading>
        }
      </ion-col>
      <ion-col size="6" class="ion-p-end-0">
        @defer (when roboWallet()) {
          <ion-card class="ion-no-shadow ion-m-vertical-0">
            <ion-card-header>
              <ion-card-title color="primary">
                {{ roboWallet()![0].balance | currency }}</ion-card-title
              >
              <ion-card-subtitle color="medium">Saldo MK</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        } @placeholder {
          <app-card-loading type="titleAndSubtitle"></app-card-loading>
        }
      </ion-col>
      <ion-col size="12" class="ion-p-horizontal-0">
        @defer (when roboWallet()) {
          <ion-card class="ion-no-shadow ion-m-vertical-0">
            <ion-card-header>
              <ion-card-title class="ion-fs-16">Win X Loss</ion-card-title>
            </ion-card-header>
          </ion-card>
        } @placeholder {
          <app-card-loading type="titleAndSubtitle"></app-card-loading>
        }
      </ion-col>
      <ion-col size="12" class="ion-p-horizontal-0">
        @if (totalLoss() && totalWin()) {
          <ion-card class="ion-no-shadow ion-m-vertical-0">
            <ion-card-header>
              <ion-card-title class="ion-fs-16">Lucro Liquido</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-chart-force-bar
                [expenses]="totalLoss()!.price!"
                [total]="totalWin()!.price!"
              ></app-chart-force-bar>
            </ion-card-content>
          </ion-card>
        } @else {
          <app-card-loading type="twoText"></app-card-loading>
        }
      </ion-col>
      <ion-col size="12" class="ion-p-horizontal-0">
        @if (!data.isLoading()) {
          <ion-card class="ion-no-shadow ion-m-vertical-0">
            <ion-card-header>
              <ion-card-title
                class="ion-d-flex ion-justify-content-between ion-align-items-center ion-fs-16"
              >
                Operações
                <ion-text>
                  <p class="ion-m-0">5</p>
                </ion-text>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              @for (item of data.value()?.data | slice: 0 : 5; track item.id) {
                <app-trade-item
                  class="ion-d-block ion-m-bottom-16"
                  [item]="item"
                ></app-trade-item>
              }
            </ion-card-content>
          </ion-card>
        } @else {
          <app-card-loading type="threeText"></app-card-loading>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
