<app-header title="Operações"> </app-header>

<ion-content>
  <app-month-select (monthChange)="updateData($event)"></app-month-select>
  @if (list.isLoading()) {
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
  } @else if (list.error()) {
    <app-card-error
      text="Ocorreu um erro ao tentar carregar os dados"
      btn="Tentar novamente"
      (btnEvent)="list.reload()"
    ></app-card-error>
  } @else if (list.hasValue()) {
    <div class="ion-m-bottom-80">
      <ion-card class="ion-no-shadow">
        <ion-card-header>
          <ion-card-title class="ion-fs-16">Win X Loss</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-d-flex ion-justify-content-around">
          <div style="height: 140px; width: 140px" class="ion-margin-bottom">
            <canvas id="chart">{{ chart() }}</canvas>
          </div>
          <div
            class="ion-d-flex ion-align-items-center ion-justify-content-between ion-gap-24"
          >
            @if (totalWin()) {
              <div>
                <ion-text color="success">
                  <small>Win</small>
                </ion-text>
                <ion-text color="medium">
                  <p class="ion-m-0">{{ totalWin().price | currency }}</p>
                </ion-text>
                <ion-text color="gray">
                  <small>Total: {{ totalWin().quant }} </small>
                </ion-text>
              </div>
            }
            @if (totalLoss()) {
              <div>
                <ion-text color="danger">
                  <small>Loss</small>
                </ion-text>
                <ion-text color="medium">
                  <p class="ion-m-0">{{ totalLoss().price | currency }}</p>
                </ion-text>
                <ion-text color="gray">
                  <small>Total: {{ totalLoss().quant }} </small>
                </ion-text>
              </div>
            }
          </div>
        </ion-card-content>
      </ion-card>

      @for (item of list.value().data; track item.id) {
        <ion-card [button]="true" (click)="details(item)">
          <ion-card-content>
            <app-trade-item [item]="item"></app-trade-item>
          </ion-card-content>
        </ion-card>
      }
    </div>
  }
</ion-content>
