<app-header title="Operações"> </app-header>

<ion-content>
  <app-month-select (monthChange)="updateData($event)"></app-month-select>
  @if (list.isLoading()) {
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
    <app-card-loading type="titleAndSubtitle"></app-card-loading>
  } @else if (list.error()) {
    <app-card-error
      text="Ocorreu um erro ao tentar carregar os dados"
      btn="Tentar novamente"
      (btnEvent)="list.reload()"
    ></app-card-error>
  } @else if (list.hasValue()) {
    <div class="ion-m-bottom-80">
      <app-trades-graph
        class="ion-m-vertical-16 ion-d-block"
        [totalLoss]="totalLoss()"
        [totalWin]="totalWin()"
      ></app-trades-graph>

      @for (item of list.value().data; track item.id) {
        <ion-card [button]="true" (click)="details(item)">
          <ion-card-content>
            <app-trade-item [item]="item"></app-trade-item>
          </ion-card-content>
        </ion-card>
      }
    </div>
  }
</ion-content>
