<ion-content>
  <div
    class="ion-display-flex ion-flex-column ion-justify-content-evenly"
    style="height: 100%"
  >
    <div
      class="ion-display-flex ion-flex-column ion-align-items-center ion-justify-content-center"
    >
      <ion-img
        class="logo-content"
        src="../../../assets/logo/logo.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
      <ion-text color="primary">
        <h1 class="ion-fs-32 ion-fw-medium ion-no-margin ion-margin-top">
          CRYPTION
        </h1>
      </ion-text>
    </div>

    <div
      class="ion-display-flex ion-flex-column ion-align-items-center auth-container"
      style="width: 100%; gap: 36px"
    >
      <ion-text>
        <p>Acessar</p>
      </ion-text>
      <ion-item class="custom-input" lines="none">
        <ion-label position="stacked">Chave de acesso</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div style="width: 100%">
        <ion-button shape="round" expand="full">Entrar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
