.container-content {
    margin-top: 102px;
    margin-bottom: 112px;
}

.logo-content {
    width: 160px;
    height: 182px;
}

.auth-container {
    border-radius: 20px;
    background-color: var(--ion-color-dark);
    color: var(--ion-color-white);
    padding: 24px;
}

ion-button {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --color: var(--ion-color-black);
  font-family: 'Montserrat';
}

.custom-input {
  --background: var(--ion-color-dark); 
  border: 1px solid var(--ion-color-gray);
  border-radius: 10px;  
  padding: 6px 16px;
  width: 100%;
  max-height: 75px;
}

.custom-input ion-label {
  color: var(--ion-color-gray);
  font-size: 0.9rem;
}

.custom-input ion-input {
  color: #fff;
  font-family: monospace;
}