<ion-content>
  <div
    class="ion-display-flex ion-flex-column ion-justify-content-evenly"
    style="height: 100%"
  >
    <div
      class="ion-display-flex ion-flex-column ion-align-items-center ion-justify-content-center"
    >
      <ion-img
        class="logo-content"
        src="../../../assets/logo/logo.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
      <ion-text color="primary">
        <h1 class="ion-fs-32 ion-fw-medium ion-no-margin ion-margin-top">
          CRYPTION
        </h1>
      </ion-text>
    </div>

    <ion-card class="ion-no-shadow">
      <ion-card-header class="ion-p-24 ion-d-flex ion-align-items-center">
        <ion-card-title>Acessar</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-p-24" [formGroup]="form">
        <ion-input
          formControlName="code"
          class="ion-m-bottom-24"
          label="Código"
          label-placement="floating"
          fill="outline"
          type="tel"
        >
        </ion-input>
        <ion-input
          formControlName="key"
          class="ion-m-bottom-24"
          label="Chave de acesso"
          label-placement="floating"
          fill="outline"
          type="password"
        >
        </ion-input>

        <ion-button
          shape="round"
          expand="full"
          color="primary"
          [disabled]="this.loading()"
          (click)="submit()"
        >
          @if (this.loading()) {
            <ion-spinner name="dots"></ion-spinner>
          } @else {
            Entrar
          }
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
