.ion-d-block {
  display: block !important;
}
.ion-d-flex {
  display: flex !important;
}

.ion-d-contents {
  display: contents !important;
}
.ion-d-none {
  display: none !important;
}

.ion-flex-column {
  flex-direction: column !important;
}

.ion-flex-grow-1 {
  flex-grow: 1 !important;
}

.ion-gap-16 {
  gap: 1rem;
}
