<app-header title="Alerta de saldo"> </app-header>

<ion-content>
  <div class="ion-m-bottom-80">
    @defer (when state) {
      <ion-card class="ion-no-shadow ion-m-vertical-0">
        <ion-card-header>
          <ion-card-title color="primary">
            {{ state.balance | currency }}</ion-card-title
          >
          <ion-card-subtitle color="medium">Saldo Robô</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    } @placeholder {
      <app-card-loading type="titleAndSubtitle"></app-card-loading>
    }
    @defer (when  user()) {
      <ion-card class="ion-no-shadow" [button]="true" (click)="disabletatus()">
        <ion-card-header
          class="ion-d-flex ion-flex-row ion-align-items-center ion-justify-content-between"
        >
          <ion-card-title
            >Status {{ user()?.alertSaldo ? 'On' : 'Off' }}</ion-card-title
          >
          <app-icon
            name="radio-button-on"
            size="small"
            [color]="'success'"
          ></app-icon>
        </ion-card-header>
      </ion-card>
    } @placeholder {
      <app-card-loading type="titleAndSubtitle"></app-card-loading>
    }
    <ion-card class="ion-no-shadow" [button]="true">
      <ion-card-header>
        <ion-card-title color="primary"> Informe o valor </ion-card-title>
        <ion-card-subtitle color="medium">
          <small
            >Informe qual o valor devemos te avisar caso o saldo do robô fique
            abaixo do valor informado.</small
          >
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-input
          [formControl]="controlValue"
          label="Valor"
          label-placement="floating"
          fill="outline"
          type="tel"
          class="ion-m-top-16"
          [maskito]="masks.number"
          [maskitoElement]="masks.predicate"
        >
          <ion-text slot="start">R$: </ion-text>
        </ion-input>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      shape="round"
      expand="full"
      color="primary"
      [disabled]="loading()"
      (click)="submit()"
    >
      @if (loading()) {
        <ion-spinner name="dots"></ion-spinner>
      } @else {
        Salvar
      }
    </ion-button>
  </ion-toolbar>
</ion-footer>
