ion-checkbox {
  width: 100%;
  &::part(label) {
    width: 100%;
  }
}

ion-chip {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  border: 1px solid var(--ion-color-medium);
  font-weight: 500;
  min-width: fit-content;
  text-align: center;
  &.selected {
    --background: var(--ion-color-dark);
    border-color: var(--ion-color-primary);
  }
}

.chip-selected {
  --background: var(--ion-color-dark);
  border-color: var(--ion-color-primary);
}
