ion-checkbox {
  width: 100%;
  &::part(label) {
    width: 100%;
  }
}

ion-chip {
  --background: #f5f5f5;
  --color: var(--ion-color-dark);
  border: 1px solid var(--ion-color-medium);
  font-weight: 500;
  min-width: fit-content;

  &.selected {
    --background: var(--ion-color-primary);
    --color: #ffff;
  }
}

.chip-selected {
  --background: var(--ion-color-primary);
  --color: #fff;
}
