ion-checkbox {
  width: 100%;
  &::part(label) {
    width: 100%;
  }
}

ion-chip {
  background: var(--ion-color-primary);
  color: var(--ion-black);
  border: 1px solid var(--ion-color-gray);
  font-weight: 500;
  min-width: fit-content;
  text-align: center;

  &.chip-outline {
    background: var(--ion-background-color);
    color: var(--ion-text-color);

    &.chip-selected {
      background: var(--ion-color-dark);
      border-color: var(--ion-color-primary);
    }
  }
}
