ion-title {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

.ion-text-white {
  color: white !important;
}

.ion-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
